
# Generar con:
#   python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=

# config.settings.local | config.settings.production
DJANGO_SETTINGS_MODULE=config.settings.local

# Solo para production: hosts separados por coma
ALLOWED_HOSTS=

# En Docker, DB_HOST es el nombre del servicio del compose.
DB_NAME=erp
DB_USER=erp
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
